html body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: Helvetica, sans-serif;
}
  .container{
    display: flex;
}
 /*width at 100 oercent fills the web-page width*/
 .title-banner{
  width: 100%;
  background-color: #1f2f68;
  display: flex;
  justify-content: center;
}

.image{
  display: flex;
  max-height: 150px;
}

.site-nav {
  text-align: center;
  padding-left: 20px;

}

.main-title{ 
  text-align: center;
  padding-top: 35px;
}

h2{ 
  text-align: left;
  padding-top: 35px;
}

  .main-area{
    flex: 3;
    display:flex;
    flex-direction: column;
    order: 1;
    max-height: 100%;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
  }

  .Side-bar{
    display: flex;
    max-width: 200px;
    order:2;
    flex-direction: column;
  }

  .Side-barPics img{
    max-width: 150px;
    padding: 5%;
  }

 

  .side-area{
    max-height: 100%;
    display: flex;
    flex: 1;
    order: 0;
    padding: 15px;
  }

 
/*navigation layout*/
.site-nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.site-nav li{
  padding-right: 20px;
  list-style: none;
  float: left;
  visibility: visible!important;
}
.site-nav a {
  color: white;
}

.logo-main{
  max-width: 500px;
  margin: auto;
  padding: 50px;
}

li{
  text-align: center;
}

.footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1f2f68;

}

.footer-text{
  color:white;
  text-align: center;
  padding-top: 30px;
}

/* escape grouop classes to get away with all evils */
/*.group:before,
.group:after{
    content: "";
    display: table;

}

.group:after{
    clear: both;
}

.group{
    zoom: 1;
}*/